@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 68% 98%;
    --foreground: 199 55% 4%;
    --muted: 169 21% 88%;
    --muted-foreground: 169 9% 30%;
    --popover: 199 68% 98%;
    --popover-foreground: 199 55% 4%;
    --card: 199 68% 98%;
    --card-foreground: 199 55% 4%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 199 96% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 96% 47%;
    --secondary-foreground: 169 96% 7%;
    --accent: 229 96% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 20 97% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 199 96% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 199 58% 1%;
    --foreground: 199 38% 97%;
    --muted: 169 21% 12%;
    --muted-foreground: 169 9% 70%;
    --popover: 199 58% 1%;
    --popover-foreground: 199 38% 97%;
    --card: 199 58% 1%;
    --card-foreground: 199 38% 97%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 199 96% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 96% 47%;
    --secondary-foreground: 169 96% 7%;
    --accent: 229 96% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 20 97% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 199 96% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* body::before {
  --line: hsl(0 0% 95% / 0.15);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin /
      10vmin 10vmin,
    linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
  -webkit-mask: linear-gradient(-15deg, transparent 30%, white);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
} */
